My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "id": "22912f10-1b7a-471e-8271-7a8ad5afcaa1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "jYlNXxZ5tjpHBGBR",
          "mode": "list",
          "cachedResultName": "mydata table",
          "cachedResultUrl": "/projects/v5PxNjkg1f6JfcPO/datatables/jYlNXxZ5tjpHBGBR"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.pubDate }}",
            "News": "={{ $json['content:encodedSnippet'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "News",
              "displayName": "News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1104,
        0
      ],
      "id": "cc0badb0-7a07-470b-a2ff-4ac496d7c348",
      "name": "Insert row"
    },
    {
      "parameters": {
        "url": "https://droidsans.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        224
      ],
      "id": "9614adf5-ca8a-4689-bf57-92f775f88db9",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://www.techtalkthai.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -224
      ],
      "id": "6a240dec-487e-4545-a92e-93005678be54",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "url": "https://www.srtet.co.th/rss/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        432
      ],
      "id": "c3d6d4bb-1954-4559-8286-1aa6de08bc95",
      "name": "RSS Read3"
    },
    {
      "parameters": {
        "url": "https://www.nso.go.th/nsoweb/main/rssfeed/get_data/A",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        -400
      ],
      "id": "fb228190-7f8c-40d8-b5bf-f4342538a824",
      "name": "RSS Read4"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "01762609-1fab-417f-ad9e-131dcbe45bf6",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de7cf08c-b0ff-4192-9551-d5ab248860db",
  "meta": {
    "instanceId": "be0beec4f6242be3335627b4bbbfa516fdb74a689355ce6798737dba99d85c4d"
  },
  "id": "1gdcjfKsZ8K44nT2",
  "tags": []
}